
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.navbar ul li {
  display: inline-block;
  position: relative;
}

.navbar a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
}
